.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #4f47ff;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.headerredBackground {
  background: var(--token-fDNuFs9Skt3p);
}
.homepageButton {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  text-align: center;
}
